<h1>Comparison from <%= link_to(@results_comper.left.id, "/results?id=#{@results_comper.left.id}") %> to <%= link_to(@results_comper.right.id, "/results?id=#{@results_comper.right.id}") %></h1>

<%= @results_comper.diffy.html_safe %>
