<div>
  <p>
    <%= link_to 'Create new project', new_project_path %>
  </p>

  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to "#{project.name} (#{project.id})", project %> (<%= project.membership_name current_user %>)</li>
    <% end %>
  </ul>
</div>
