<div>
  <p>
    <%= link_to 'Create new project', new_project_path %>
  </p>

  <ul>
    <% @projects.each do |project| %>
      <% if project.created_by? current_user %>
        <li><%= link_to "#{project.name} (#{project.id})", project %> (owner)</li>
      <% else %>
        <li><%= link_to "#{project.name} (#{project.id})", project %> (member)</li>
      <% end %>
    <% end %>
  </ul>
</div>
