<h1>Project <%= @project.name %></h1>
<div>
  <h2>Results settings</h2>
  <dl>
    <dt>API key</dt>
    <dd>x</dd>
    <dt>Project id</dt>
    <dd><%= @project.id %></dd>
  </dl>
</div>
<div>
  <h2>Examples</h2>
  <ul>
    <% @example_names.each do |example_name| %>
      <li><%= link_to example_name, project_example_path(@project, example_name) %></li>
    <% end %>
  </ul>
</div>



